.townsfolk {
    color: blue;
  }
  .outsider {
    color: lightskyblue;
  }
  .minion {
    color: lightcoral;
  }
  .demon {
    color: red;
  }
  .scriptMeta {
    font-size: 80%;
  }
  .autocompletePanel {
    z-index: 100;
    position: absolute;
    bottom: 50px;

  }
  ol, ul {
    list-style: none;
    padding: 0;
  }
  #command-line {
    width: 100%;
  }
  li.selected {
    font-weight: bold;
  }

  .confirmation-dialog, .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .confirmation-dialog {
    font-weight: bold;
    background: red;
  }

  #gamePhase li {
    display: inline;
    margin-right: 1em;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .currentPeriod {
    font-weight: bold;
  }

  .highlighted {
    font-weight: bold;
  }

  h1 {
    margin: 0;
  }

  div.editable {
    display: inline;
  }

  .participant-name {
    font-style: italic;
  }